[Unit]
Description=A script for extracting data and converting it from csv file to multiple json files
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/yael-vm/tornado_python
ExecStart=/usr/bin/python3 /home/yael-vm/tornado_python/main.py
Restart=always

[Install]
WantedBy=multi-user.target
